<div class="layout">
  <nav class="navbar">
    <div class="navbar-left">
      <button
        class="sidebar-toggle"
        (click)="toggleSidebar()"
        pButton
        type="button"
        icon="pi pi-bars"
      ></button>
      <span class="logo">Laboratory Asset Management System</span>
      <button
        pButton
        type="button"
        icon="pi pi-moon"
        class="p-button-text ml-2"
        (click)="toggleDarkMode()"
        aria-label="Toggle dark mode"
      ></button>
    </div>
    <div class="navbar-right">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
    </div>
  </nav>
  <div class="main-content">
    <aside class="sidebar" [class.collapsed]="sidebarCollapsed">
      <div class="sidebar-nav">
        <ul (click)="$event.stopPropagation()">
          <li>
            <ng-container
              *ngIf="!sidebarCollapsed || isMobile; else dashboardIconOnly"
            >
              <div class="card flex justify-center">
                <p-panelmenu
                  [model]="dashboardMenuItems"
                  styleClass="w-full md:w-80"
                />
              </div>
            </ng-container>
            <ng-template #dashboardIconOnly>
              <a
                style="
                  justify-content: center;
                  display: flex;
                  align-items: center;
                  height: 40px;
                "
              >
                <i
                  class="pi pi-objects-column"
                  pTooltip="Dashboard"
                  tooltipPosition="right"
                  [tooltipDisabled]="false"
                ></i>
              </a>
            </ng-template>
          </li>

          <li>
            <ng-container
              *ngIf="!sidebarCollapsed || isMobile; else inventoryIconOnly"
            >
              <div class="card flex justify-center">
                <p-panelmenu
                  [model]="panelMenuItems"
                  styleClass="w-full md:w-80"
                />
              </div>
            </ng-container>
            <ng-template #inventoryIconOnly>
              <a
                style="
                  justify-content: center;
                  display: flex;
                  align-items: center;
                  height: 40px;
                "
              >
                <i
                  class="pi pi-warehouse"
                  pTooltip="Inventory"
                  tooltipPosition="right"
                  [tooltipDisabled]="false"
                ></i>
              </a>
            </ng-template>
          </li>
          <!-- <li>
            <a routerLink="/maintenance">
              <i
                class="pi pi-wrench"
                pTooltip="Maintenance"
                [tooltipDisabled]="!sidebarCollapsed || isMobile"
                tooltipPosition="right"
              ></i>
              <span *ngIf="!sidebarCollapsed || isMobile">Maintenance</span>
            </a>
          </li> -->
          <li *ngIf="user?.role === 'campus admin'">
            <div class="card flex justify-center">
              <p-panelmenu
                [model]="laboratoryPanelMenuModel"
                styleClass="w-full md:w-80"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="sidebar-profile" [class.expanded]="profileExpanded">
        <div class="profile-header" (click)="toggleProfile()">
          <p-avatar
            [image]="
              user?.profile_picture
                ? user.profile_picture.replace('/media/', '')
                : 'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
            "
            size="large"
            shape="circle"
          ></p-avatar>

          <div class="profile-info">
            <div class="profile-name" *ngIf="!sidebarCollapsed || isMobile">
              {{ user?.first_name }} {{ user?.last_name }}
            </div>
            <div class="profile-role" *ngIf="!sidebarCollapsed || isMobile">
              {{ user?.role }}
            </div>
          </div>
          <i
            class="pi pi-chevron-up profile-arrow"
            [class.rotated]="profileExpanded"
            *ngIf="!sidebarCollapsed || isMobile"
          ></i>
        </div>
        <div
          class="profile-actions"
          [@expandUp]="profileExpanded ? 'expanded' : 'collapsed'"
        >
          <a
            ><i
              class="pi pi-cog"
              pTooltip="Settings"
              [tooltipDisabled]="!sidebarCollapsed || isMobile"
              tooltipPosition="right"
            ></i>
            <span *ngIf="!sidebarCollapsed || isMobile">Settings</span></a
          >
          <a routerLink="/home/profile"
            ><i
              class="pi pi-file"
              pTooltip="Profile"
              [tooltipDisabled]="!sidebarCollapsed || isMobile"
              tooltipPosition="right"
            ></i>
            <span *ngIf="!sidebarCollapsed || isMobile">Profile</span></a
          >
          <a routerLink="/home/user-table"
            ><i
              class="pi pi-table"
              pTooltip="View User"
              [tooltipDisabled]="!sidebarCollapsed || isMobile"
              tooltipPosition="right"
            ></i>
            <span *ngIf="!sidebarCollapsed || isMobile">View Users</span></a
          >
          <a (click)="_auth.logout()"
            ><i
              class="pi pi-power-off"
              pTooltip="Logout"
              [tooltipDisabled]="!sidebarCollapsed || isMobile"
              tooltipPosition="right"
            ></i>
            <span *ngIf="!sidebarCollapsed || isMobile">Logout</span></a
          >
        </div>
      </div>
    </aside>
    <section class="content" (click)="closeSidebar()">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
