<form [formGroup]="form" (ngSubmit)="submit()" class="add-user-form">
  <div class="add-user-grid">
    <div class="form-col">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="first_name"
          formControlName="first_name"
          type="text"
          autocomplete="off"
        />
        <label for="first_name">First Name</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          pInputText
          id="last_name"
          formControlName="last_name"
          type="text"
          autocomplete="off"
        />
        <label for="last_name">Last Name</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          pInputText
          id="email"
          formControlName="email"
          type="email"
          autocomplete="off"
        />
        <label for="email">Email</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          pInputText
          id="password"
          formControlName="password"
          type="password"
          autocomplete="off"
        />
        <label for="password">Password</label>
      </p-floatlabel>
    </div>
    <div class="form-col">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="role"
          formControlName="role"
          type="text"
          [value]="assignedRole"
          [disabled]="true"
          autocomplete="off"
        />
        <label for="role">Role</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-dropdown
          id="campus"
          formControlName="campus"
          [options]="campuses"
          optionLabel="campus_name"
          optionValue="campus_id"
          placeholder="Select a campus"
          [showClear]="true"
        ></p-dropdown>
        <label for="campus">Campus</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          pInputText
          id="contact_number"
          formControlName="contact_number"
          type="text"
          autocomplete="off"
        />
        <label for="contact_number">Contact Number</label>
      </p-floatlabel>
      <div class="p-field">
        <label for="profile_picture">Profile Picture</label>
        <input
          id="profile_picture"
          type="file"
          (change)="onFileChange($event)"
        />
      </div>
    </div>
  </div>
  <div class="p-field p-col-12 p-text-center submit-button">
    <button
      pButton
      type="submit"
      [label]="loading ? '' : 'Create Account'"
      [disabled]="form.invalid || loading"
      [icon]="loading ? 'pi pi-spin pi-spinner' : ''"
      class="p-button-lg"
    ></button>
  </div>
</form>
